{% extends "frame.html" %}

{% block title %}
Birthday Reminder
{% endblock title %}

{% block body %}

<form action="/api/birthdays" method="post">
  <div class="form-group">
    <label for="name">Name</label>
    <input id = "name" class="form-control" type="text" placeholder="Enter name" name = "name">
    <small class="form-text text-muted">Add a friend's birthday to your list.</small>
  </div>
  <div class="form-group" style="margin-top:5px;">
    <label for="birthday">Birth Date</label>
    <input id = "birthday" class="form-control" type="date" placeholder="Enter birth date" name = "birthday">
  </div>
  <div class="form-group" style="margin-top:5px;">
    <label for="hobby">Hobby</label>
    <input id = "hobby" class="form-control" type="text" placeholder="Enter Hobby" name = "hobby">
  </div>
  <button type="submit" class="btn btn-primary" style="margin-top:7px;">Submit</button>
</form>

<h1>Birthdays of {{ username }}</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Birthday</th>
      <th scope="col">Hobby</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
      <ul>
        {% for person in persons %}
        <tr>
            <td>{{ person.id }}</td>
            <td>{{ person.name }}</td>
            <td>{{ person.birthday }}</td>
            <td>{{ person.hobby }}</td>
          <td><a href="{{url_for('update_person_data', person_id=person.id)}}">✏</a>️</td>
          <td><a href="{{url_for('delete_birthday', person_id=person.id)}}">🗑️ </a></td>
        </tr>
        {% endfor %}
      </ul>
  </tbody>
</table>

{% endblock body %}


